.DS_Store
.python-version
test.txt
testing.c
w3c_input
w3cgrep
yangre
__pycache__/config.cpython-36.pyc
app/__pycache__/__init__.cpython-36.pyc
app/__pycache__/views.cpython-36.pyc
.vscode/settings.json
