.pattern-input {
    margin-bottom: 10px;
}
.button-input-minus {
    margin-bottom: 10px;
}
.button-input-plus {
    margin-bottom: 10px;
}

.lead {
    margin: 10px;
}

#data-divs {
    display: none;
}
