<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Yang Re</title>
    {% endif %}
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/sticky-footer.css" rel="stylesheet" media="screen">
    <link href="/static/css/general.css" rel="stylesheet" media="screen">
    <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
    // Add script
    </script>
</head>
<body>
    <div class="container">
    <div class="page-header">
        <h3>Yang Re</h3>
    </div>
    </div>
    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <p class="text-muted footer-text"> Yang Re GUI </p>
            <a class="footer-image" href="https://github.com/plewyllie/yangre-gui"><img src="static/img/GitHub-Mark-32px.png"></a>
        </div>
    </footer>
<!-- Using yangre in the backend. From https://github.com/CESNET/libyang -->
</body>
</html>
