<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!-- <p class="lead"> Yangre matches on W3C regexes </p> -->

<div class=container>
    <div class="row">
        <div id="pattern_inputs" class="col-xs-10">
            <div class="input-group pattern-input">
                <span class="input-group-addon" id="basic-addon1">Pattern 1</span>
                <input class="pattern-textbox form-control" id="pattern-textbox-1" inverted="false" type="text" placeholder="Example: [0-9a-fA-F]*" aria-describedby="basic-addon1">
                <div class="input-group-btn">
                    <button id="invert-pattern-1" type="button" class="btn btn-default">Invert match</button>
                </div>
            </div>
        </div>
        <div id="pattern_inputs_buttons" class="col-xs-2">
            <button id="add_pattern_btn" type="button" class="btn btn-default">+</button>
            <button id="remove_pattern_btn" type="button" class="btn btn-default">-</button>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="comment">Test string:</label>
                <textarea id="teststring-textbox" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div id="result_alerts"></div>
    <div id="data-divs"></div>
</div>


<script>
var patterncnt = 2;
$('#add_pattern_btn').bind('click', function() {
    // Add pattern field
    $('#pattern_inputs').append('<div id="pattern-input-'+ patterncnt +'" class="input-group pattern-input">'
        + '<span class="input-group-addon" id="basic-addon'+patterncnt+'">Pattern ' + patterncnt + '</span>'
        + '<input class="pattern-textbox form-control" id="pattern-textbox-'+patterncnt+'" inverted="false" type="text" placeholder="Example: [0-9a-fA-F]*" aria-describedby="basic-addon'+patterncnt+'">'
        + '<div class="input-group-btn">'
        + '   <button id="invert-pattern-'+ patterncnt +'" type="button" class="btn btn-default">Invert match</button>'
        + '</div>'
        + '</div>');

    patterncnt++;
    if (patterncnt > 2)
        $("#remove_pattern_btn").css('display', 'inline');
});

$("#pattern_inputs_buttons").on('click', '#remove_pattern_btn', function () {
    // Remove pattern field
    patterncnt--;
    $('#pattern-input-'+patterncnt).remove();
    if (patterncnt == 2)// remove the - btn
        $("#remove_pattern_btn").css('display', 'none');
    match_patterns(); // re-run the matching, to display correct results
});

$("#pattern_inputs").on('click', '.btn', function() {
    // toggle invert match
    if ($(this).hasClass('btn-default')) {
        $(this).addClass('btn-info').removeClass('btn-default');
        $(this).html('Inverted match');

        // setting the pattern to be inverted
        var patternid = $(this).attr('id').replace("invert-pattern-", "pattern-textbox-");
        $('#' + patternid).attr("inverted", "true");
    } else {
        $(this).addClass('btn-default').removeClass('btn-info');
        $(this).html('Invert match');

        // setting the pattern to be inverted
        var patternid = $(this).attr('id').replace("invert-pattern-", "pattern-textbox-");
        console.log($('#' + patternid))
        $('#' + patternid).attr("inverted", "false");
    }


});

$('#teststring-textbox').on('change keyup paste', function() {
    match_patterns(); // call match_patterns everytime a key is entered in textbox
});
$('#pattern_inputs').on('input', '.pattern-textbox', function() {
    match_patterns(); // call match_patterns everytime a key is entered in textbox
});

function match_patterns() {
    $('#result_alerts').empty(); // empty the results

    /* generating a random div ID to store information from async AJAX calls */
    var rand_div = Math.random() * 100000000000000000;
    $('#data-divs').html('<div id="' + rand_div + '"></div>');

    var patternnb = 0;
    $('.pattern-textbox').each(function() {
        // for every pattern, will do a REST call to see if it matches test string
        var current_textbox = $(this);
        $.ajax({
            type: "POST",
            url: "/yangre",
            data: {
                pattern: current_textbox.val(),
                content: $('#teststring-textbox').val(),
                inverted: current_textbox.attr('inverted') // inverted match or not
            },
            success: function(data) {
                var alerts_div = "";
                patternnb++;
                var result = data.w3cgrep_result + data.yangre_result
                if (result == 0) { // we have a match, green background
                    $('#teststring-textbox').css("background-color", "#dff0d8");
                    current_textbox.css("background-color", "#dff0d8");
                } else if (result == 2) { // no match, red
                    $('#teststring-textbox').css("background-color", "#f9f2f4");
                    current_textbox.css("background-color", "#f9f2f4");
                } else { // different results, orange
                    $('#teststring-textbox').css("background-color", "#fcf8e3");
                    current_textbox.css("background-color", "#fcf8e3");
                }
                if (result != 0) { // if not all match, add a warning
                    if (!($('#nomatch_warn').length)) {
                        $('#'+rand_div).prepend('<div id="nomatch_warn" class="alert alert-warning" role="alert">'
                            + 'Not all patterns are matching'
                            + '</div>');
                    }
                }

                // adding outputs in alert zone
                alerts_div += ('<h3>Pattern ' + patternnb + ' results</h3>');

                if (data.w3cgrep_result == 0)
                    alerts_div += ('<div class="alert alert-success" role="alert">'
                    + '<b>W3CGREP</b> matches'
                    + '</div>');
                else if (data.w3cgrep_result == 1)
                    alerts_div += ('<div class="alert alert-danger" role="alert">'
                        + '<b>W3CGREP</b> does not match'
                        + '</div>');
                else
                    alerts_div += ('<div class="alert alert-warning" role="alert">'
                        + '<b>W3CGREP</b> encountered an error'
                        + '<p>' + data.w3cgrep_output + '</p>'
                        + '</div>');
                if (data.yangre_result == 0)
                    alerts_div += ('<div class="alert alert-success" role="alert">'
                    + '<b>YANGRE</b> matches'
                    + '</div>');
                else if (data.yangre_result == 1)
                    alerts_div += ('<div class="alert alert-danger" role="alert">'
                        + '<b>YANGRE</b> does not match'
                        + '</div>');
                else
                    alerts_div += ('<div class="alert alert-warning" role="alert">'
                        + '<b>YANGRE</b> encountered an error'
                        + '<p>' + data.yangre_output + '</p>'
                        + '</div>');

                $('#'+rand_div).append(alerts_div);
                $('#result_alerts').empty(); // empty the results, in case we have other async calls fighting for this space
                $('#result_alerts').html($('#'+rand_div).html());
            },
            error: function(jqXHR, textStatus, errorThrown) {
                patternnb++;
                alerts_div = "";
                alerts_div += ('<h3>Pattern ' + patternnb + ' results</h3>');
                alerts_div += ('<div class="alert alert-warning" role="alert">'
                    + '<p><b>Server ERROR</b>: Status = ' + textStatus + ', ' + 'error thrown: ' + errorThrown + '</p>'
                    + '</div>');
                $('#'+rand_div).append(alerts_div);
                $('#result_alerts').empty();
                $('#result_alerts').html($('#'+rand_div).html());
            },
        });

    });
}

</script>

{% endblock %}

<!--

RED background: #f9f2f4
GREEN background: #dff0d8

  -->
