<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<!-- <p class="lead"> Yangre matches on W3C regexes </p> -->

<div class=container>
    <div class="row">
        <div id="pattern_inputs" class="col-xs-10">
            <div class="input-group pattern-input">
                <span class="input-group-addon" id="basic-addon1">Pattern 1</span>
                <input class="pattern-textbox form-control" type="text" placeholder="Example: [0-9a-fA-F]*" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-xs-2">
            <button id="add_pattern_btn" type="button" class="btn btn-default">+</button>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="comment">Test string:</label>
                <textarea id="teststring-textbox" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div id="result_alerts"></div>
</div>


<script>
var patterncnt = 2;
$('#add_pattern_btn').bind('click', function() {
    $('#pattern_inputs').append('<div class="input-group pattern-input">'
        + '<span class="input-group-addon" id="basic-addon1">Pattern ' + patterncnt++ + '</span>'
        + '<input class="pattern-textbox form-control" type="text" placeholder="Example: [0-9a-fA-F]*" aria-describedby="basic-addon1">'
        + '</div>');
});

matching_patterns = false
$('#teststring-textbox').on('change keyup paste', function() {
    if (!matching_patterns)
        match_patterns();
});
$('#pattern_inputs').on('input', '.pattern-textbox', function() {
    if (!matching_patterns)
        match_patterns();
});

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function match_patterns() {
    matching_patterns = true
    $('#result_alerts').empty();
    var numberofpatterns = 0;
    var patternnb = 0;
    var correct_patterns = 0;
    $('.pattern-textbox').each(function() {
        var current_textbox = $(this);
        numberofpatterns++;
        $.ajax({
            type: "POST",
            url: "/yangre",
            data: {
                pattern: current_textbox.val(),
                content: $('#teststring-textbox').val()
            },
            success: function(data) {
                patternnb++;
                var result = data.w3cgrep_result + data.yangre_result
                if (result == 0) { // success, green background
                    $('#teststring-textbox').css("background-color", "#dff0d8");
                    current_textbox.css("background-color", "#dff0d8");
                    correct_patterns++;
                } else if (result == 2) { // no match, red
                    $('#teststring-textbox').css("background-color", "#f9f2f4");
                    current_textbox.css("background-color", "#f9f2f4");
                } else { // different results, orange
                    $('#teststring-textbox').css("background-color", "#fcf8e3");
                    current_textbox.css("background-color", "#fcf8e3");
                }
                $('#result_alerts').append('<h3>Pattern ' + patternnb + ' results');
                //alert(current_textbox.val());
                if (data.w3cgrep_result == 0)
                    $('#result_alerts').append('<div class="alert alert-success" role="alert">'
                    + '<b>W3CGREP</b> matches'
                    + '</div>')
                else if (data.w3cgrep_result == 1)
                    $('#result_alerts').append('<div class="alert alert-danger" role="alert">'
                        + '<b>W3CGREP</b> does not match'
                        + '</div>')
                if (data.yangre_result == 0)
                    $('#result_alerts').append('<div class="alert alert-success" role="alert">'
                    + '<b>YANGRE</b> matches'
                    + '</div>')
                else if (data.yangre_result == 1)
                    $('#result_alerts').append('<div class="alert alert-danger" role="alert">'
                        + '<b>YANGRE</b> does not match'
                        + '</div>')
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("Error, status = " + textStatus + ", " + "error thrown: " + errorThrown);
            }
        });
    });
    if (correct_patterns < numberofpatterns)
        $('#result_alerts').append('<div class="alert alert-warning" role="alert">'
            + 'Not all patterns are matching'
            + '</div>');

    matching_patterns = false
}

</script>

{% endblock %}

<!--

RED background: #f9f2f4
GREEN background: #dff0d8

  -->
